setup extensions, validation layers, and script to get all todos
build/*
vkspec.pdf
waylandheaders
rimuovere vulkan loader che lo ho *
notes
a Vulkan instance *
__*
.cache/*
compile_commands.json
ext_and_layers_names.txt
